article.delivery-another
  .delivery-another__cont.cont
    .delivery-another__list
      .delivery-another__item
        .delivery-another__box.delivery-another__box_purple
          h2.delivery-another__title.headline Транспортные компании
          p.delivery-another__text.text Доставку товара за пределы города Киров и Кировской области осуществляют транспортные компании
          h3.delivery-another__headline Стоимость доставки
          p.delivery-another__text.text
            b 500 ₽
            |
            | — по городу Киров до терминала транспортной компании. При получении товара в пункте назначения, стоимость доставки транспортной компанией покупатель оплачивает самостоятельно. Её вы можете рассчитать на сайте выбранной вами ТК.
          h3.delivery-another__headline Обратите внимание
          p.delivery-another__text.text Транспортная компания выставляет вам отдельный счет. О стоимости междугородней доставки товара, вы узнаёте самостоятельно. После доставки товара в ТК мы высылаем вам товарно-транспортную накладную, по которой вы можете отследить ваш заказ.
          h3.delivery-another__headline Упаковка товара
          p.delivery-another__text.text Это обязательное требование при отправке груза через транспортную компанию. Стоимость услуги зависит от веса и объема вашего заказа и варьируется от 150 ₽ и выше. Расчёты обсуждаются с менеджером.
      .delivery-another__item
        .delivery-another__box.delivery-another__box_orange
          h2.delivery-another__title.headline Почта России
          p.delivery-another__text.text Если вам не подходит доставка транспортной компанией, воспользуйтесь услугами почты
          h3.delivery-another__headline Стоимость доставки
          p.delivery-another__text.text Рассчитывается согласно тарифам Почты России до вашего региона. Стоимость доставки будет включена в итоговую стоимость.
        .delivery-another__box.delivery-another__box_grey
          h2.delivery-another__title.headline Позвоните нам
          p.delivery-another__text.text
            a.delivery-another__link(href=phone.link)= phone.mask
            |
            | — мы расскажем об условиях доставки товаров и ответим на все вопросы
