article.delivery(data-element="delivery")
  .delivery__cont.cont
    h1.delivery__caption.title Доставка
    ul.delivery__nav
      li.delivery__nav-item.delivery__nav-item_active(data-element="delivery__nav-item" data-show="delivery-section_pickup") Самовывоз
      li.delivery__nav-item(data-element="delivery__nav-item" data-show="delivery-section_courier") Курьером
      li.delivery__nav-item(data-element="delivery__nav-item" data-show="delivery-section_another") Доставка в другие регионы РФ
