-
  const deliveryRulesList = [
    {
      headline: "Срок хранения товаров — 7 дней",
      list: ["Если вы не смогли получить заказ в течение срока хранения, нам придётся его отменить.",
      "Денежные средства мы вернём в течение 10 календарных дней. Срок зачисления денег зависит от вашего банка.",
      "Вы можете продлить срок хранения, оплатив платное хранение. Оставьте заявку в <a href='#' class='delivery-rules__link'>Личном кабинете</a> на сайте."]
    },
    {
      headline: "Получение заказа",
      list: ["Информация о готовности заказа, времени работы пункта выдачи и сроке хранения придёт вам на email.",
      "Чтобы получить заказ, сообщите номер заказа или фамилию и код из email письма сотруднику пункта выдачи. Код также можно посмотреть в личном кабинете.",
      "При доставке в пункт выдачи может понадобиться паспорт или другое удостоверение личности."]
    },
    {
      headline: "Отказ от товара ",
      list: ["Проверьте целостность товара и упаковки. Если вы обнаружили, что товар не соответствует качеству/количеству, или просто передумали, вы можете оформить отказ.",
      "Для отказа в пункте выдачи заказов заполните акт приёма-передачи и верните его вместе с заказом сотруднику пункта выдачи.",
      "Подробная информация на странице <a href='#' class='delivery-rules__link'>Возврат</a>"]
    }
  ]

article.delivery-rules
  .delivery-rules__cont.cont
    h2.delivery-rules__title Правила доставки в пункт выдачи
    ul.delivery-rules__list
      each item in deliveryRulesList
        li.delivery-rules__item
          h3.delivery-rules__headline= item.headline
          each text in item.list
            p.delivery-rules__text.text!= text
