article.forgot-password.mobile-cabinet-white-border
  .forgot-password__cont.cont
    h4.forgot-password__headline Отправить ссылку на сброс пароля?
    form.forgot-password__form(data-role="autocomplete-spam-form" action="url" method="POST")
      label.forgot-password__label
        .forgot-password__box.input-animate-box
          input.forgot-password__input.text.input.input-animate(type="email" name="email" required placeholder=" " data-role="autocomplete-spam-form-mail")
          span.input-animate-placeholder Электронная почта
      .forgot-password__btn-box
        a.forgot-password__btn.button-white.text(href="#") Вход
        button.forgot-password__btn.button-orange.text(disabled data-role="autocomplete-spam-form-button") Отправить
