mixin enter-password(text)
  article.enter-password.mobile-cabinet-white-border
    .enter-password__cont.cont
      h3.enter-password__headline.headline Введите пароль
      if text
        each item in text
          p.enter-password__text.text= item
      form.enter-password__form(data-role="autocomplete-spam-form" action="url" method="POST")
        label.enter-password__label
          .enter-password__box.input-animate-box
            input.enter-password__input.input.text.input-animate(type="email" name="email" required placeholder=" " data-role="autocomplete-spam-form-mail")
            span.input-animate-placeholder Электронная почта
        label.enter-password__label
          .enter-password__box.input-animate-box
            input.enter-password__input.input.text.input-animate(type="password" minlength="8" required name="password" placeholder=" ")
            span.input-animate-placeholder Пароль
        a.enter-password__note.text-small.link_grey(href="#") Забыли пароль?
        button.enter-password__submit.button-grey.text(disabled data-role="autocomplete-spam-form-button") Продолжить

