-
  const aboutTable = [
    { name: "Код товара", value: "34567898765" },
    { name: "Место использования", value: "Внутренний / наружный" },
    { name: "Материал для укладки", value: "Высокая плитка / среднее поглощение" },
    { name: "Максимальная температура применения (°C)", value: "25.0" },
    { name: "Код товара", value: "34567898765"},
    { name: "Место использования", value: "Внутренний / наружный"},
    { name: "Материал для укладки", value: "Высокая плитка / среднее поглощение"},
    { name: "Максимальная температура применения (°C)", value: "25.0"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
    { name: "Если много характеристик", value: "Если много характеристик"},
  ]

article.about.desktop-white-border.mobile-white-border(data-element="about")
  .about__cont.cont
    .about__cage
      .about__main
        h2.about__title.title О товаре
        p.
          В магазине Leroy Merlin можно приобрести клей для керамической плитки усиленный Keramik Pro (25 кг) отечественной
          торговой марки BERGAUF. Этот суперэластичный клей широко используется для прочного и надежного контакта
          стандартной и крупной керамической плитки, бетонной и клинкерной плитки, а также натурального камня с
          различными поверхностями, как внутри, так и снаружи помещения. Клей может быть использован для установки полов
          с подогревом, отделки фасадных частей, цоколей, лоджий и душевых.
        h3 Основные характеристики
        p.
          В магазине Leroy Merlin можно приобрести клей для керамической плитки усиленный Keramik Pro (25 кг) отечественной
          торговой марки BERGAUF. Этот суперэластичный клей широко используется для прочного и надежного контакта
          стандартной и крупной керамической плитки, бетонной и клинкерной плитки, а также натурального камня с
          различными поверхностями, как внутри, так и снаружи помещения. Клей может быть использован для установки полов
          с подогревом, отделки фасадных частей, цоколей, лоджий и душевых.
        h3 Особенности
        p.
          На пути к мембране жидкость обрабатывается в двух полипропиленовых картриджах механической очистки и в универсальном модуле В510-03. В угольном постфильтре происходит окончательная доводка питьевого продукта. В начальной комплектации картридж финишной очистки дополнительно обогащает воду минеральными микроэлементами.
        .about__table(data-element="about__table")
          each row in aboutTable
            .about__row
              span.about__name= row.name
              .about__border-bottom
              span.about__value.text= row.value
        button.about__table-more.text-small.button-white(type="button" data-element="about__table-more") Показать всё
        p.about__note.text Перед покупкой уточняйте характеристики и комплектацию у продавца.
      .about__sidebar
        .about__sidebar-box
          h3.about__headline.headline Инструкция по сборке
          p.about__sidebar-text.text Скачайте инструкцию к товару бесплатно
          a.about__sidebar-link.button-white.text(href="#" download) Скачать PDF
