article.contacts-requisites
  .contacts-requisites__cont.cont
    h2.contacts-requisites__headline Реквизиты
    ul.contacts-requisites__list
      li.contacts-requisites__item.text ООО «ЧИПОЛЛО»
      li.contacts-requisites__item.text ИНН: 4345506892
      li.contacts-requisites__item.text КПП: 434501001
      li.contacts-requisites__item.text ОГРН: 1204300011233
      li.contacts-requisites__item.text ОКПО: 46637211
      li.contacts-requisites__item.text Расчетный счет: 40702810727000015050
      li.contacts-requisites__item.text Банк: КИРОВСКОЕ ОТДЕЛЕНИЕ N8612 ПАО СБЕРБАНК
      li.contacts-requisites__item.text БИК: 043304609
      li.contacts-requisites__item.text Корр. счет: 30101810500000000609
      li.contacts-requisites__item.text Юридический адрес: 610046, Кировская обл, Киров г, Московская ул., дом 102В/1, офис ПОМЕЩ. 2
      li.contacts-requisites__item.text Директор: Чернышева Наталья Юрьевна
    .contacts-requisites__box
      a.contacts-requisites__download.text.button-orange(href='#' download) Скачать в PDF

