extends ../components/_layout/layout

block head
  +title('Придумайте пароль')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Придумайте пароль")
  include ../components/create-password/create-password
  +create-password("Придумайте пароль", ["Вашему новому кабинету mail@mail.ru нужен пароль.", "С помощью него вы сможете узнать информацию о заказе, получать и копить бонусы. "])
