extends ../components/_layout/layout

block head
  +title('Введить пароль')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Введите пароль")
  include ../components/enter-password/enter-password
  +enter-password
