extends ../components/_layout/layout

block head
  +title('Забыли пароль?')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Забыли пароль?")
  include ../components/forgot-password/forgot-password
