extends ../components/_layout/layout

block head
  +title('Гарантии и возврат')

block body
  include ../components/_layout/header-mobile
  +header-mobile('cabinet', 'Гарантии и возврат')
  include ../components/guarantee
