extends ../components/_layout/layout

block head
  +title('Вход в кабинет')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Вход в кабинет")
  include ../components/enter-password/enter-password
  +enter-password(["Вы установили новый пароль.", "Попробуйте войти в кабинет ещё раз."])
