extends ../components/_layout/layout

block head
  +title('Логин')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Вход в кабинет")
  include ../components/login/login
