extends ../components/_layout/layout

block head
  +title('Имя и телефон')

block body
  include ../components/_layout/header-mobile
  +header-mobile("cabinet", "Имя и телефон")
  include ../components/name-and-phone/name-and-phone
