article.guarantee
  .guarantee__cont.cont
    h1.guarantee__caption.caption Гарантии и возврат
    .content_2
      h2 Гарантия
      p.
        Заботясь о своих покупателях, мы внимательно относимся к качеству и тщательно проверяем репутацию продавцов, размещающих товары на маркетплейсе Cheapollo. Нам важно, чтобы на онлайн витрине Cheapollo были представлены только сертифицированные изделия надлежащего качества. Продавцы Cheapollo всегда несут ответственность за качество и гарантийное обслуживание товара в соответствии с законодательством РФ.
      p
        | Гарантийный срок на товары зависит от их категории, изготовителя и продавца, и в среднем составляет
        |
        b 12 месяцев
        |
        | с момента доставки, если иное не указано в карточке товара (или договоре купли-продажи).
      p.
        Гарантийные обязательства не распространяются на механические повреждения товара, возникшие после передачи товара покупателю, и дефекты товара, возникшие в связи с нарушением правил эксплуатации.
      h2 Возврат товара надлежащего качества
      p.
        Покупатель  — юридическое лицо не вправе отказаться от товара надлежащего качества после оформления заказа.
      p.
        Покупатель — физическое лицо вправе отказаться от товара в любое время до его передачи, а после передачи товара — в течение 7 дней с момента получения товара, если иное не было оговорено при продаже товара.
      p.
        Возврат товара надлежащего качества, возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара.
      p.
        Для возврата товара надлежащего качества будет необходим кассовый чек, который был направлен покупателю на электронную почту, указанную при регистрации, или другой документ, подтверждающий приобретение товара на сайте.
      p
        | Возврат товара надлежащего качества осуществляется до его передачи покупателю  — в личном кабинете, а после
        | передачи  — в пунктах выдачи заказов Cheapollo, принимающих возврат. Список адресов и режим работы указан на странице
        |
        a(href="#") Доставка
        | .
      p.
        При курьерской доставке Покупатель может отказаться от Товаров частично или полностью и вернуть их курьеру во время осмотра.
      p.
        При возврате Покупателем Товара заполняется заявление на возврат. Вы можете скачать, распечатать и заполнить форму заранее.
      a.download.button-orange(href="#" download) Скачать форму
      h2 Ограничения по возврату товара надлежащего качества
      p.
        Согласно ст. 25 Закона РФ «О защите прав потребителей», к возврату не принимается товар, если он входит в Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену, утверждённый Постановлением Правительства РФ от 31 декабря 2020 г. № 2463.
      p.
        Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его потребителем. Например, товары, изготовленные на заказ, колерованная краска и тому подобное.
      p.
        Также на некоторые товары действуют ограничения при возврате:
      ul
        li ЛКМ (кроме колер паст), кабельная продукция (провода, шнуры, кабели), строительные и отделочные материалы (линолеум, пленка, ковровые покрытия и т.д) и другие товары, отпускаемые на метраж (в том числе и вагонка) подлежат возврату — кратно упаковке (бухта, рулон, пачка);
        li сухие сыпучие смеси подлежат возврату только при условии сохранения потребительских качеств – например, отсутствие окаменелости и т.д.;
        li теплый пол подлежит возврату при условии целостности внутренней упаковки;
        li кафельная плитка принимается кратно упаковке при условии сохранности надлежащего товарного вида упаковки (отсутствие видимых повреждений).
      p
        | Для уточнения возможности возврата товара, направьте вопрос в свободной форме по электронной почте
        |
        a(href="mailto:support@cheapollo.ru") support@cheapollo.ru
        | .
      h2 Возврат товара ненадлежащего качества
      p.
        Недостаток товара — несоответствие его описанию на сайте, или обязательным требованиям, предусмотренным законом либо в установленном им порядке, или условиям договора (при их отсутствии или неполноте условий обычно предъявляемым требованиям), или целям, для которых товар такого рода обычно используется, или целям, о которых продавец был поставлен в известность покупателем при заключении договора купли-продажи.
      p.
        При обнаружении недостатков товара, его возврат осуществляется посредством оформления Покупателем заявки с указанием выявленных недостатков по форме, установленной Cheapollo, и направления её Cheapollo одним из следующих способов:
      ul
        li
          | по электронной почте
          |
          a(href="mailto:support@cheapollo.ru") support@cheapollo.ru
          | ;
        li на сайте в Личном кабинете в разделе Возврат;
        li
          | написав заявление в фирменных пунктах выдачи/возврата Cheapollo. Список адресов и режим работы указан на странице
          |
          a(href="/delivery") Доставка.
      p.
        Покупатель вправе обратиться с претензией непосредственно к продавцу товара, указанному на сайте или в платежном документе.
      p.
        Продавец отвечает за недостатки товара, если покупатель докажет, что недостатки товара возникли до его передачи покупателю или по причинам, возникшим до этого момента.
      p.
        Возврат товара ненадлежащего качества осуществляется покупателем в сроки, установленные действующим законодательством РФ.
      p
        | Рассмотрение заявки осуществляется Cheapollo в течение 7 рабочих дней. В случае, если по результату рассмотрения
        | заявки продавцом принято положительное решение, покупатель может передать товар для возврата в ПВЗ Cheapollo.
        | Список адресов и режим работы указан на странице
        |
        a(href="/delivery") Доставка
        | .
      p.
        Для возврата необходимо:
      ul
        li электронный чек или номер заказа;
        li документ, удостоверяющий личность;
        li банковская карта, с которой была оплачен Товар.
      p.
        При возврате Товара в ПВЗ Покупателем заполняется заявление на возврат. Вы можете скачать, распечатать и заполнить форму заранее.
      a.download.button-orange(href="#" download) Скачать форму
      h2 Возврат отсутствующего в заказе товара
      p.
        В случае доставки покупателю товаров, которые не были им заказаны, либо в количестве превышающем, указанное в заказе, возврат таких товаров осуществляется путем направления в адрес Cheapollo сообщения одним из следующих способов:
      p.
        При обнаружении товара не входящего в заказ в момент получения — сотруднику пункта выдачи, либо курьеру.
      p.
        2. При обнаружении товара не входящего в заказ после получения:
      ul
        li
          | по телефону
          |
          a(href="tel:+79127001393") +7 912 700 13 93
          | ;
        li
          | по электронной почте
          |
          a(href="mailto:support@cheapollo.ru") support@cheapollo.ru
          | ;
        li на сайте в Личном кабинете в разделе Возврат.
      h2 Возврат денежных средств
      p.
        При отказе покупателя от товара, денежные средства за него будут возвращены на банковский счёт, с которого указанный товар был оплачен, в срок, не превышающий 10 календарных дней с даты обращения.
      p.
        Срок зачисления денежных средств на банковский счет покупателя зависит от политики банка, в котором открыт счёт.
      p.
        При отказе покупателя от товара, приобретенного посредством выбора оплаты на сайте в рассрочку или в кредит с привлечением средств кредитной организации (Банка), возврату подлежит сумма в размере стоимости товара, за исключением расходов Cheapollo на доставку от покупателя возвращенного товара. Возврат денежных средств производится на кредитный банковский счет покупателя. Выплата процентов и иных платежей по договору кредита, заключенного покупателем с кредитной организацией (Банком) указанным способом, Покупателю не компенсируются. Все обязательства перед кредитной организацией покупатель несёт самостоятельно.
      p.
        При возврате покупателем товара надлежащего качества стоимость услуг, связанных с доставкой товара до покупателя не возмещается. Доставка возвращенного товара надлежащего качества от покупателя до ПВЗ осуществляется за счёт покупателя.
      p.
        В случае, если покупатель уклоняется от получения заказа, доставленного по указанному адресу в согласованное время и не принимает мер к получению заказа после получения уведомления об истечении срока хранения, такой заказ отменяется как невостребованный. При этом сумма, уплаченная покупателем, подлежит возврату, за исключением расходов, связанных с доставкой и хранением заказа.
      p.note.
        *Настоящие правила носят рекомендательный характер и не ограничивают покупателя в правах, связанных с предъявлением требований Продавцу, предусмотренных действующим законодательством.

