mixin create-password(title, text)
  article.create-password.mobile-cabinet-white-border
    .create-password__cont.cont
      h3.create-password__headline.headline=title
      each item in text
        p.create-password__text.text= item
      form.create-password__form(action="url" method="POST" data-element="create-password__form")
        label.create-password__label
          .create-password__box.input-animate-box
            input.create-password__input.input.text.input-animate(type="password" data-element="password1" minlength="8" required name="password" placeholder=" ")
            span.input-animate-placeholder Пароль
        label.create-password__label
          .create-password__box.input-animate-box
            input.create-password__input.input.text.input-animate(type="password" data-element="password2" minlength="8" required name="password" placeholder=" ")
            span.input-animate-placeholder Повторите пароль
        button.create-password__submit.button-grey.text(disabled data-element="create-password__submit") Продолжить
