article.login.mobile-cabinet-white-border
  .login__cont.cont
    h3.login__headline.headline Вход в кабинет
    form.login__form(data-role="autocomplete-spam-form" action="url" method="POST")
      label.login__label
        .login__box.input-animate-box
          input.login__input.input.text.input-animate(type="email" name="email" required placeholder=" " data-role="autocomplete-spam-form-mail")
          span.input-animate-placeholder Электронная почта
      a.login__link.login__link_google.text.link_grey(href="#") Войти через Google
      a.login__link.login__link_vk.text.link_grey(href="#") Войти через ВК
      button.login__submit.button-grey.text(disabled data-role="autocomplete-spam-form-button") Продолжить
